.allTeams_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 32px 0 32px;
  width: 100%;
  background: var(--lightestGrey1);
  position: relative;

}

.clearIndicator {
  cursor: pointer;
  &:hover {
    svg {
      path {
        fill: var(--grey);
      }
    }
  }

  svg {
    path {
      fill: var(--lightGrey);
    }
  }
}
.next_ten{
  cursor: pointer;
  text-align: center;
  background: linear-gradient(var(--lightRed), var(--red),var(--lightRed) );
  font-size: 16px;
  color: var(--white);
  border-bottom: 0.2px solid var(--lightGrey);

  &:hover{
    background: var(--red)
  }
}

.displayNone{
  display: none;
}

.input {
  border: 0.5px solid var(--lightestGrey);

  &:focus {
    background: var(--lightestGrey1);
  }

  &:hover {
    background: var(--lightestGrey1) !important;
  }
}

.search_block {
  position: relative;
  min-width: 364px;

  input {
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    background: var(--white);

    &:hover {
      background: var(--white);
    }

  }

  svg {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.top_side {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.contentWrapper {
  padding: 10px;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-content: center;
  gap: 24px;
  overflow: scroll;
  height: 100%;
}


.mod {
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: var(--lightGrey)
  }
}

@media screen and(max-width: 1405px) {
  .contentWrapper {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    padding: 32px 80px 0 32px;
    width: 100%;
    background: var(--lightestGrey1);
    position: relative;
  }

}

@media screen and(max-width: 1105px) {
  .allTeams_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 !important;
    width: 100%;
    background: var(--lightestGrey1);
    position: relative;

  }
  .contentWrapper {
    margin: 10px 0;
    padding: 0 !important;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: center;
    gap: 12px;
    overflow: auto;
    height: 100%;
  }
  .top_side {
    margin-top: 16px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    gap: 16px;

    input {
      width: 351px;
    }
  }
  .search_block {
    position: relative;
    min-width: 351px;

    input {
      padding: 8px 12px;
      border-radius: 4px;
      border: 0.5px solid var(--lightestGray);
      outline: none;
      background: var(--white);

      &:hover {
        background: var(--white);
      }

    }

    svg {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

}
