.teamCardContainer {
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  width: 364px;
  height: 380px;
  cursor: pointer;


}
.playerLogoBlock {
  background: linear-gradient(121.57deg, var(--grey) 1.62%, #393939 81.02%);
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  overflow: hidden;

  img {

    width: 100%;


  }
}

.teamDescription {
  background: var(--darkGrey);
  border-radius: 0 0 4px 4px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.5px;

  span {
    color: var(--lightRed);
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
  }

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--lightGrey)

  }

}


@media screen and(max-width: 1405px) {

  .teamCardContainer {
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    width: 264px;
    height: 260px;
    cursor: pointer;
    align-self: flex-start;
    justify-self: center;


  }
  .teamLogoBlock {
    background: linear-gradient(121.57deg, var(--grey) 1.62%, #393939 81.02%);
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 35px 35px;
      width: 120px;
      height: 120px;

    }
  }
  .teamDescription {
    background: var(--darkGrey);
    border-radius: 0 0 4px 4px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5px;

    span {
      color: var(--lightRed);
    }

    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: var(--white);
    }

    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: var(--lightGrey)

    }

  }

}

@media screen and(max-width: 780px) {
  .teamCardContainer {
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    width: 169.5px;
    height: 201px;
    cursor: pointer;


  }
  .teamDescription {
    background: var(--darkGrey);
    border-radius: 0 0 4px 4px;
    height: 84px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.5px;

    span {
      color: var(--lightRed);
    }

    h3 {
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      color: var(--white);
    }

    h4 {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: var(--lightGrey)

    }

  }

  .playerLogoBlock {
    background: linear-gradient(121.57deg, var(--grey) 1.62%, #393939 81.02%);
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 103.5px;
    overflow: hidden;

    img {

      width: 121.5px;
      height: 92.5px;


    }
  }
}
