.menu_Container{
padding: 32px 40px ;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.mod{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  width: 3rem;
  &:hover{
    p{
      color:var(--lightestRed);
    }
    path{
      fill: var(--lightestRed);
    }
  }
  p{
    margin-top: 7px;
  }

}
.exit_button{

}
.player_button{
  margin-top: 50px;
}

.active_mod{
  p{
    color:var(--red);
  }
  path{
    fill: var(--red);
  }
}
