.container{
  width: 52px;
  height: 24px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  right: 0;
  top: 0;
  background: black;
  position: absolute;
  z-index: 100;


  div{
    width: 1px;
    height: 100%;
  }
}
