.container {
  background: var(--lightestGrey1);
  width: 100%;
  height: 100%;
}

.addTeam_block {
  width: 80%;
  height: 70%;
  background: var(--white);
  border-radius: 10px;
  margin: 32px auto;
  position: relative;

  p {
    margin: 24px 0;
    color: var(--red);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;


    span {
      color: var(--lightGrey);
    }
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  padding-left: 32px;
  p {
    margin: 24px 0;
    color: var(--red);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  span {
    color: var(--lightGrey);
    margin: 0 5px;
  }
}

.addTeam_module {
  width: 100%;
}

.formWrapper {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 60%;

    label {
      margin: 24px 0 8px 0;
      color: var(--grey);

      a {
        color: var(--red);
        font-size: 20px;
      }
    }

  }


}
@media screen and(max-width: 1105px){
  .headerContainer {
    padding: 0 16px ;
    display: flex;
    width: 100%;
    align-items: center;
    p {
      margin: 24px 0;
      color: var(--red);
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }

    span {
      color: var(--lightGrey);
      margin: 0 5px;
    }
  }
  .addTeam_block {
    width: 100%;
    height: 100%;
    background: var(--white);
    border-radius: 0!important;
    margin: 10px 0 0 0;
    position: relative;

    p {
      margin: 24px 0;
      color: var(--red);
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;


      span {
        color: var(--lightGrey);
      }
    }
  }
}
