
.pagination_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 32px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  align-items: center;

  .active {
    background: var(--red);
    border-radius: 4px;
    color: var(--white);
    text-align: center;
    a {
      outline: none;
      text-align: center;
    }
  }
  li {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  li:first-child a,  li:last-child a {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    margin-right: 33px;
    margin-left: 20px;
    &:focus{
      outline: none;
    }
  }
}

.pagination_selectCountCard {
  position: relative;
}
.pagination_setCountCard {
  flex-direction: column;
  background: var(--white);
  border: 0.5px solid var(--lightestGrey);
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  bottom: calc(100% + 4px);
  margin: 0;
  width: 100%;
  li {
    padding: 8px 54px 8px 22px;
    cursor: pointer;
    &:hover{
      background-color: var(--lightRed);
    }
  }
  li:nth-child(even) {
    border-top: 0.5px solid var(--lightestGrey);
    border-bottom: 0.5px solid var(--lightestGrey);
  }
}

.pagination_currentCard {
  border: 0.5px solid var(--lightestGrey);
  padding: 8px 12px 8px 20px;
  border-radius: 4px;
  background: var(--white);
  cursor: pointer;
  span:after {
    content: "";
    border-right: 0.5px solid var(--lightestGrey);
    margin-left: 20px;
  }
  svg{
    margin-left: 12px;
  }
}

.previous{
  transform: rotate(180deg);
}

.previous, .next{
  a{
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin: 0!important;
    svg{
      width: 9px;
      height: 12px;
      path{
        fill: var(--grey)
      }
    }
  }
}
.display_none{
  display: none;
}
