* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  li {
    list-style-type: none
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px
}

.input_Error {
  border: 1px solid var(--lightestRed);
}

input[type='text'] {
  width: 100%;

}

input[type='password'] {
  font-size: 14px;
  font-weight: 500;
  width: 100%;

}

input[type='submit'] {
  background: var(--red);
  color: white;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--lightRed);

  }

  &:focus {
    background: var(--darkRed);
  }

  &:disabled {
    background: var(--lightestGrey);
  }
}

.input_default {
  background: var(--lightestGrey1);
  border: none;
  height: 40px;
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #303030;
  outline: none;
  border-radius: 4px;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: background 0.2s ease-in-out;
    background: var(--lightestGrey);
  }
}

input {
  background: var(--lightestGrey1);
  border: none;
  height: 40px;
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #303030;
  outline: none;
  border-radius: 4px;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: background 0.2s ease-in-out;
    background: var(--lightestGrey);
  }
}

.input_error-text {
  position: relative;
}

.linkSing {
  text-decoration: none;
  position: relative;

  div {
    position: absolute;
    width: 60px;
    height: 1px;
    left: -1px;
    bottom: 2px;
    background: var(--red);
  }
}

.input_search {
  background: white;

  &:hover {
    background: white;
  }
}


.error_message_login {
  position: absolute;
  right: 36px;
  top: 36px;
  background: var(--lightRed);
  z-index: 10;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

}

:root {
  --darkGrey: #303030;
  --grey: #707070;
  --lightGrey: #9C9C9C;
  --lightestGrey: #D1D1D1;
  --lightestGrey1: #F6F6F6;
  --darkRed: #C60E2E;
  --red: #e4163a;
  --lightRed: #FF5761;
  --lightestRed: #FF768E;
  --blue: #344472;
}

.red-button {
  padding: 8px 27px 8px 24px;
  border: none;
  border-radius: 4px;
  background: var(--red);
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background: var(--lightRed);

    &:active {
      background: var(--darkRed);
    }
  }
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .form-container {
    display: flex;
    flex-direction: column;
    width: 60%;

    label {
      margin: 24px 0 8px 0;
      color: var(--grey);

      a {
        color: var(--red);
        font-size: 20px;
      }
    }

  }


}

.gray-button {
  padding: 8px 62px;
  border: 1px solid var(--lightGrey);
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: var(--lightGrey);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;


  &:hover {
    background: var(--lightestGrey);
  }

  &:active {
    background: var(--lightGrey);
    color: var(--grey);

  }

}

.checkbox {

}

.checkbox + label {
  margin: 0;

}

input[type='file'] {
  width: 100px;
  height: 100px;
  opacity: 0.5;
  position: absolute;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.img-for-input {
  width: 100px;
  pointer-events: none;
  position: relative;

}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}


.roster_container {
  border: 0.5px solid var(--lightGrey);

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--grey);

    p {
      color: var(--lightesGrey);
    }
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 32px 0 32px;

  div {
    display: flex;
  }

  .one_number {
    width: 19px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .two_photo {
    margin: 0 10px 0 24px;
  }

  .charisma {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.delete-icon {
  cursor: pointer;

  &:hover {
    path{
      fill: var(--darkRed);
    }

  }


  path {
    fill: var(--red);
    transition: all 0.2s ease;

  }

}
.update-icon{
  cursor: pointer;

  &:hover{
    path{
      fill:var(--grey)
    }
  }
  path{
    fill:var(--lightGrey);
    transition: all 0.2s ease;
  }
}


